<div class="inboxTiger">
  <div class="tigerLeft">
    <h3>You've got Mail from XY:</h3>
    {{! display mail }}
  </div>
  <div class="tigerRight">
    <h3>Write your answer here:</h3>
    <form class="messageBox">
      <label for="tigerWrite">...</label>
      <input type="text" id="tigerWrite" name="tigerWrite" />
    </form>
  </div>
</div>

<button><a href="/"></a>Go Back</button>