<div id="navbarUser">

  <div class="logoHeader">
    <div>
      <img src="../../images/logo2Gobuddy.png" class="logo-small" />
    </div>
    <div>
      {{#if userInSession}}
        <a href="/auth/buddyView" class="homeLink"><h2>Welcome
            {{userInSession.username}}
            !</h2></a>
      {{else}}
        <p>Still no logged in user, sorry!</p>
      {{/if}}
    </div>
  </div>
  <div class="nav-wrapper-right">
    <ul>
      <li>
        <button class="navBtn">
          <a href="/interact/inbox">Mailbox</a>
        </button>
      </li>
      <li>
        <form id="logout-form" action="/auth/logout" method="POST">
          <button class="navBtn" type="submit">Logout</button>
        </form>
      </li>
    </ul>
  </div>
</div>

<div class="message-wrapper">
  <div class="inbox">
    <h3>Inbox</h3>
    {{#each msgs}}
      {{this.sender.username}}
      <br />
<a href="{{sender._id}}/message" class="update-Btn">See Conversation</a>   
  {{/each}}
  </div>

</div>