<div class="messenger">
  <h3>Say hello to {{this.username}}</h3>
  <div>
    <form class="messenge2tiger">
      <label for="mess2tiger">Introduce yourself in short form.
        {{this.username}}
        is waiting for your first step!</label><br />
      <input type="text" id="mess2tiger" name="mess2tiger" />
    </form>
  </div>
</div>