<dev>
  <h2>Hi, I am {{this.username}}</h2>
  <dev class="tigerDetails-wrapper">
    <dev>
      I am:
      {{! show input of tiger id="tigerIntro" }}
    </dev>
    <dev>
      I would be glad to get some support for:
      {{! show input of tiger id="helpDef"}}
    </dev>
  </dev>
  <button><a href="/interact/{{id}}/message">Message</a></button>
  <button><a href="/auth/buddyView">Go back</a></button>
</dev>