<h1>Welcome to goBuddy</h1>
<h3>Become a verified Buddy and help people around you in need!
</h3>
{{!--hier registerform-path variieren je nach dem ob tiger/buddy--}}
<button><a href="/auth/signup"></a>Sign in as a buddy</a></button>
<h3>or</h3>
{{!--hier registerform-path variieren je nach dem ob tiger/buddy--}}
<button><a href="/auth/signup">Register for help</a></button>
<div>
  Already an account?
    <a href="/auth/login">Login</a>
</div>