<nav class="navbar">
  <a href="/auth/login">Login</a>
</nav>
<div id="startpage">
<div>
  <p>[placeholder <br> logo]</p>
</div>

<div>
  <div id="header">
    <h1>Welcome to GoBuddy</h1>
  </div>
  <div>
     <h3>Become a verified Buddy and help people around you in need!
      </h3>
      <div class="joinOption-Wrapper">
      {{!--hier registerform-path variieren je nach dem ob tiger/buddy--}}
      <button class="signUpBtn"><a href="/auth/signup/buddy">Sign in as a buddy</a></button>
      <h3>or</h3>
      {{!--hier registerform-path variieren je nach dem ob tiger/buddy--}}
      <button class="signUpBtn"><a href="/auth/signup/tiger">Register for help</a></button>
      </div>
    <div>
      Already have an account?
        <a href="/auth/login">Login</a>
    </div>
  </div>
</div>
</div>