<div id="navbar">
  <navbar>
    <ul>
      <li>
        <h2>Welcome {{username}}</h2>
      </li>
      <li>
        <input type="search" id="searchfield" name="searchfield" />
        <label for="searchfield">Search</label>
      </li>
      <li>
        {{! button to refresh page and see if there are new messages }}
        <a href="">Mailbox</a>
      </li>
      <li>
        <a href="/auth/logout">Logout</a>
      </li>
    </ul>
  </navbar>
</div>

<div>
  <h3>People around you in need</h3>
  <div id="mailboxBuddyWrapper">
    >>TODO: Alle Tigers aus der gleichen Stadt abbilden Get in touch button
  </div>
</div>