<div id="navbar">
  <navbar>
    <h2>Welcome {{username}}</h2>
    <a href="/auth/logout">Logout</a>
  </navbar>
</div>

<div id="tigerViewLogIn-Wrapper">
  <div>
    <div class="tigerLeft">
      <p>Write a few sentence about yourself:</p>
      <p>spaaace/box</p>
    </div>
    <div>
      <p>Write a few sentence about the help you need:</p>
      <p>spaaace/box</p>
    </div>
    <div>
    <button type="submit">Update your profile</button>
    </div>
  </div>

  <div>
    <div class="tigerMailbox tigerRight">
      TODO: Insert/display message inbox
    </div>
  </div>
</div>