<div id="navbarUser">

  <div class="logoHeader">
    <img src="../../images/logo2Gobuddy.jpg" />
    {{#if userInSession}}
      <h2>Welcome {{userInSession.username}} !</h2>
    {{else}}
      <p>Still no logged in user, sorry!</p>
    {{/if}}
  </div>

  {{! doesnt work like this: }}
  {{! <a href="/auth/logout">Logout</a> }}
  {{! works like this but looks ugly: }}
  <div class='nav-wrapper-right'>
      <form id="logout-form" action="/auth/logout" method="POST">
        <button>Logout</button>
      </form>
  </div>
</div>

<div id="tigerViewLogIn-Wrapper">
  <div class="tigerLeft">
    <div>
      <form
        class="tigerInputIntroduction"
        method="POST"
        action="/auth/tigerView"
      >
        <p>
          <label for="tigerIntro">Write a few sentences about yourself:</label><br
          />
          {{! <input type="text" id="tigerIntro" name="tigerIntro" /> }}
          <textarea
            type="text"
            id="tigerIntro"
            name="tigerIntro"
          >{{userInSession.profileInput.tigerIntro}}</textarea>
          {{! <INPUT type="submit" value="Send"><INPUT type="reset"> }}
          <label for="helpDef">Write a few sentences about the help you need:</label><br
          />
          <textarea
            type="text"
            id="helpDef"
            name="helpDef"
          >{{userInSession.profileInput.helpDef}}</textarea>
        </p>
        {{! <div>
          <button class="update-Btn" type="submit">Update your profile</button>
        </div> }}
        <button class="update-Btn">
          <a href="/auth/tigerView">Update your profile</a>
        </button>
      </form>
    </div>
  </div>

  <div class="tigerRight">
    <div class="tigerMailbox">
      <button class="update-Btn">
        <a href="/interact/inbox">Check Your Inbox</a>
      </button>
    </div>
  </div>
</div>