<div id="navbar">
  <navbar>
    <ul>
      <li>
        {{#if userInSession}}
          <h2>Welcome {{userInSession.username}}</h2>
        {{else}}
          <p>Still no logged in user, sorry!</p>
        {{/if}}
      </li>
      <li><a href="/auth/logout">Logout</a></li>
      <li>
        <button>
          <a href="/tigerView">TEST: Reload the page</a>
        </button>
      </li>
    </ul>
  </navbar>
</div>

<div id="tigerViewLogIn-Wrapper">
  <div class="tigerLeft">
    <div>
      <form class="tigerInputIntroduction">
        <label for="tigerIntro">Write a few sentence about yourself:</label><br
        />
        <input type="text" id="tigerIntro" name="tigerIntro" />
      </form>
    </div>
    <div>
      <form class="tigerInputHelpDefinition">
        <label for="helpDef">Write a few sentence about the help you need:</label><br
        />
        <input type="text" id="helpDef" name="helpDef" />
      </form>
    </div>
    <div>
      <button type="submit">Update your profile</button>
    </div>
  </div>

  <div>
    <div class="tigerMailbox tigerRight">
      TODO: Insert/display message inbox
    </div>
  </div>
</div>