<div id="navbar">
  <navbar>
    <a href="/auth/logout">Logout</a>
  </navbar>
</div>

<div>
  <ul>
    <li>
      <h2>Welcome {{username}}</h2>
    </li>
    <li>
      <input type="search" id="searchfield" name="searchfield" />
      <label for="searchfield">Search</label>
    </li>
    <li>
      >>TODO: Alle Tigers aus der gleichen Stadt abbilden Get in touch button
      <a href="/">Mailbox </a>
    </li>
  </ul>
</div>