<div>
  <ul>
  <li>
  <h2>Welcome {{username}}</h2>
  </li>
  <li>
    <input type="search" id="searchfield" name="searchfield">
  <label for="searchfield">Search</label>  
    </li>
    <li>
     <a href="/">Mailbox </a>
    </li>
    <li>
    <a href="/">Logout</a>  
    </li>
    </ul>
</div>
